nav {
	background-color: #f8f8f8;
	border-bottom: 1px solid #e7e7e7;
	padding: 10px 20px;
}

.titlecontainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.titlecontainer a {
	text-decoration: none;
	color: #333;
}

.titlecontainer h1 {
	margin: 0;
	font-size: 24px;
}

.search-bar {
	display: flex;
	align-items: center;
	border-radius: 30px;
	width: 100%;
	max-width: 600px;
	border: 1px solid #333;
}

.search-input {
	padding: 10px 20px;
	font-size: 16px;
	flex-grow: 1;
	border: 0;
	border-radius: 30px 0 0 30px;
	outline: none;
}

.blue-button-white-text {
	background-color: #2294ed;
	border: 1px solid #2294ed;
	border-radius: 0 30px 30px 0;
	padding: 10px 20px;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.blue-button-white-text:hover {
	background-color: #0061ad;
	border: 1px solid #0061ad;
}

@media (max-width: 768px) {
	.titlecontainer {
		flex-direction: column;
		align-items: flex-start;
	}

	.search-bar {
		width: 100%;
		margin-top: 20px;
		justify-content: center;
	}
	.search-input {
		width: calc(100% - 60px); /* Adjust width to fit the button */
	}
}
