body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	color: #333;
	margin: 0;
	padding: 0;
}

.recommendations {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
}

.section {
	width: 100%;
	margin-bottom: 20px;
}

.section h2 {
	margin: 0 0 10px 0;
}

.books {
	display: flex;
	flex-direction: column;
    /* overflow-y: auto;
    max-height: 300px; */
}

.book {
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #fff;
}

.book img {
	max-width: 100px;
	margin-right: 20px;
}

.book-details {
	display: flex;
	flex-direction: column;
}

.book-details h3 {
	margin: 0 0 5px 0;
	font-size: 18px;
}

.book-details p {
	margin: 2px 0;
	font-size: 14px;
}