{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block title %}
	<title>Top Books- ReadNext</title>
	{% endblock %}
	{% block style %}
	<link href="{% static 'css/top-books.css' %}" rel="stylesheet">
	{% endblock %}
</head>
<body>
	{% block body %}
	<div class="container">
		<section class="top-books">
			<h2>Top Books</h2>
			<div class="book-list">
				{% for book in books %}
				<div class="book">
					<img src="{{ book.Image_URL_M }}" alt="{{ book.Book_Title }}">
					<div class="book-details">
						<h3>{{ forloop.counter }}. {{ book.Book_Title|truncate_chars:50 }}</h3>
						<p>{{ book.Book_Author|truncate_chars:30 }}</p>
						<p>⭐ {{ book.avg_rating|floatformat:1 }} | {{ book.num_ratings }} ratings</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</section>
	</div>
	{% endblock %}
</body>
</html>