{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block title %}
	<title>Recommendations- ReadNext</title>
	{% endblock %}
	{% block style %}
	<link rel="stylesheet" href="{% static 'css/recommendation.css' %}">
	{% endblock %}
</head>
<body>
	{% block body %}
	<div class="container">	
		<div class="recommendations">
			{% for section, books in recommendations.items %}
				{% if books %}
				<div class="{{ section }} section">
					<h2>{{ section|capfirst|replace:"_, " }}</h2>
					<div class="books">
						{% for book in books %}
						<div class="book">
								<img src="{{ book.Image_URL_M }}" alt="{{ book.Book_Title }}">
								<div class="book-details">
									<h3>{{ book.Book_Title|truncate_chars:50 }}</h3>
									<p>Author: {{ book.Book_Author|truncate_chars:30 }}</p>
									<p>Publisher: {{ book.Publisher|truncate_chars:40 }}</p>
									<p>⭐ {{ book.avg_rating|floatformat:1 }} | {{ book.num_ratings|roundup }} ratings</p>
								</div>
							</div>
							{% endfor %}
					</div>
				</div>
				{% endif %}
				{% endfor %}
		</div>
		<br><br>
	</div>
	<script>
		document.querySelectorAll('.books').forEach(list => {
			list.style.overflowY = 'scroll';
			list.style.maxHeight = '300px';
		});
	</script>
	{% endblock %}
</body>
</html>
