{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Book Recommendations</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/recommendation.css' %}">
</head>
<body>
	<div class="container">
		<div class="search-bar">
			<form action="{% url 'recommendation' %}" method="get">
				<input type="text" name="q" placeholder="Search for a book" value="{% if query %}{{ query }}{% endif %}" class="search-input">
				<button class="blue-button-white-text" type="submit">Search</button>
			</form>
		</div>
	
		<div class="recommendations">
			{% for section, books in recommendations.items %}
				{% if books %}
				<div class="{{ section }} section">
					<h2>{{ section|capfirst|replace:"_, " }}</h2>
					<div class="books">
						{% for book in books %}
							<div class="book">
								<img src="{{ book.Image_URL_M }}" alt="{{ book.Book_Title }}">
								<div class="book-details">
									<h3>{{ book.Book_Title }}</h3>
									<p>Author: {{ book.Book_Author }}</p>
									<p>Publisher: {{ book.Publisher }}</p>
									<p>⭐ {{ book.avg_rating }} | {{ book.num_ratings }} ratings</p>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				{% endif %}
			{% endfor %}
		</div>
		<br><br>
		<script>
			document.querySelectorAll('.books').forEach(list => {
				list.style.overflowY = 'scroll';
				list.style.maxHeight = '300px';
			});
		</script>
	</div>
</body>
</html>
